* {
    text-align: center;
    color:rgb(255, 190, 164);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
  }
  
  body{
    background: url(Simple1.png) center fixed;
    background-size: cover;
    border: 2px solid darkturquoise;          
}
h2{   
    background-color:rgb(86, 116, 121);
    border: 2px solid darkturquoise;
    border-radius: 5px;
    font-size: 30px;
    padding: 20px;  
}
p{
    background-color: rgb(86, 116, 121);
    border: 5px solid darksalmon;
    color:rgb(255, 190, 164);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: pre;
    padding: 25px;
   
   
    
}
p.a{
    background-color: rgb(86, 116, 121);
    border: 5px solid darksalmon;
    color:rgb(255, 190, 164);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: pre;
    padding: 25px;
    text-align: left;
}
ul{
    list-style-position: inside;
    background-color: rgb(86, 116, 121);
    color: rgb(255, 190, 164);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid darkturquoise;
    border-radius: 5px;   
    padding: 20px;
    
}
html{
    background-color: black;    
}
head{
    background-color: rgb(86, 116, 121);
    color: rgb(255, 190, 164);
    font-size: 24px;
    border-radius: 5px;
}
footer{
    width: 300px;
    border: 15px solid darksalmon;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;  
}

div {
    width: 700px;
    border: 15px solid darksalmon;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;         
  }
  



